{
  "presets": [
    "react-app",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "util": "./src/util"
        }
      }
    ]
  ]
}