html, body, #root, .rootLayout {
    height: 100%;
}

.logo {
    background: white;
    color: black;
    height: 64px;
    line-height: 64px;
}

.header {
    background: white;
    color: black;
    height: 64px;
}

.content {
    background: white;
    padding: 24px;
    margin: 10px;
}

.contentParent {
    display: flex;
    flex-direction: column;
}